<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>findr</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/style.css}" />
</head>
<body>


<div class = "main_searchBox">
    <!--<image th:if="${isMorning}==true" src = "../static/images/logo_searchEngine2.png" alt="logo" id="logo"/>-->
    <image th:if="${isMorning}==false" src = "../static/images/logo_v2.png" alt="logo" id="logo"/>
    <form th:action="@{/search}">
        <!--<label for="query">findr</label>-->
        <input required type="text" placeholder="Enter a query..." name="query" id="query">
        <input type="hidden" name="page" value="1">
        <input type="submit" value="Search" id="search_button">
    </form>
</div>


</body>
</html>
