<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Findr</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link th:if="${isMorning}==true" rel="stylesheet" type="text/css" media="all" href="../static/css/search2.css"
          th:href="@{/css/search2.css}"/>
    <link th:if="${isMorning}==false" rel="stylesheet" type="text/css" media="all" href="../static/css/search.css"
          th:href="@{/css/search.css}"/>
</head>
<body>

<div id="logo_searchbar">
    <a href="/" class="hidden">
        <img th:if="${isMorning}==true" src="../static/images/logo_searchEngine2.png"
               th:attr="src=@{/images/logo_searchEngine2.png}" id="logo" alt="logo"/>
        <img th:if="${isMorning}==false" src="../static/images/logo_v2.png"
               th:attr="src=@{/images/logo_v2.png}" id="logo" alt="logo"/>
    </a>

    <div class="image_text">
        <span>You previously searched for:</span>
        <br>
        <span><a th:text="${prevQuery}" th:href="@{/search(query=${prevQuery},page=1)}"></a></span>
   	    <span>&nbsp;</span>
    </div>

    <div id ="queryHistory">
        <div th:each="historyItem : ${queryHistory}" >
            <p th:text="${historyItem}" class="no_margin">QueryHistory</p>
        </div>
    </div>

    <form th:action="@{/search}">
        <input required type="text" name="query" th:value="${query}" id="query">
        <input type="hidden" name="page" value="1">
        <button type="submit" id="search_button"><span>Search </span></button>
    </form>
    <br/>
    <span th:with="plural = ${totalCrawledPages == 1} ? 'result' : 'results'">
        <span th:text="${totalCrawledPages} + ' ' + ${plural} + ' (' + ${crawlTime} + ' seconds)'">Time elapsed</span>
    </span>
</div>




<div class = "button-list">
    <input type="image" th:if="${isMorning}==true" src="../static/images/button_5_2.png"
    th:attr="src=@{/images/button_5_2.png}" class="bt_image" onclick="showHideTop5()"
    th:onclick="'javascript:showHideTop5();'"/>

    <form action="/keywords" th:attr="action=@{/keywords}" method="get" target = _blank
    th:target="_blank" class="bt_form">
      <input type="image" th:if="${isMorning}==true"
      src="../static/images/button_index_2.png"
      th:attr="src=@{/images/button_index_2.png}"
      value="Keywords" class = "bt_image" />
    </form>

    <input type="image" th:if="${isMorning}==true" src="../static/images/button_his_2.png"
    th:attr="src=@{/images/button_his_2.png}" class="bt_image" onclick="showHideHis()"
    th:onclick="'javascript:showHideHis();'" />
    <input type="image" th:if="${isMorning}==false" src="../static/images/button_5.png"
           th:attr="src=@{/images/button_5.png}" class="bt_image" onclick="showHideTop5()"
           th:onclick="'javascript:showHideTop5();'"/>
    <form action="/keywords" th:attr="action=@{/keywords}" method="get" target = _blank
          th:target="_blank" class="bt_form" >
    <input type="image" th:if="${isMorning}==false" src="../static/images/button_index.png"
           th:attr="src=@{/images/button_index.png}" class="bt_image"  />
    </form>
    <input type="image" th:if="${isMorning}==false" src="../static/images/button_his.png"
   th:attr="src=@{/images/button_his.png}" class="bt_image" onclick="showHideHis()"
   th:onclick="'javascript:showHideHis();'"/>

</div>

<div class="content-body">
    <div id="wolframElement"></div>

    <div th:each="page : ${results}" class="results_para">
        <a th:text="${#strings.abbreviate(page.getTitle(),80)} " th:href="${page.getMyUrl()}"
           class="result-title">Title placeholder</a>
        <br>

        <span th:text="${#strings.abbreviate(page.getMyUrl(),100)}"
              class="result-link result-small">URL placeholder</span>
        <br>

        <span th:text="${page.getMetaDescription()}" class="result-small">Page description placeholder</span>
        <br>

        <span class="bold">Last modified: </span>
        <span th:text="${page.getLastModified()}">Last modified placeholder</span>
        <br>

        <span class="bold">Size: </span>
        <span th:text="${page.getSize()} + ' bytes'">Size placeholder</span>
        <br>

        <span class="bold">Score: </span>
        <span th:text="${page.getScore()}">Score placeholder</span>
        <br>

        <span class="topfive">
            <span class="bold">Parent links: </span>
            <br>
            <span th:each="parent, iter : ${page.getParents()}">
            	<span th:if="${iter.index < 5}">
            	    <a th:href="${parent}" th:text="${parent}"></a>
            	    <br>
           	    </span>
           	</span>

            <span class="bold">Child links: </span>
            <br>
            <span th:each="child, iter : ${page.getChildren()}">
            	<span th:if="${iter.index < 5}">
            	    <a th:href="${child}" th:text="${child}"></a>
            	    <br>
           	    </span>
           	</span>
        </span>

        <span class="bold">Keywords: </span>
        <span th:each="keywordFreqPair, iter : ${page.getTopNKeywords(5)}">
            <span th:text="!${iter.last} ?
            ${keywordFreqPair.getKey()} + ' ' + ${keywordFreqPair.getValue()} + ',' :
            ${keywordFreqPair.getKey()} + ' ' + ${keywordFreqPair.getValue()}"></span>
        </span>
        <br>

        <span th:with="similarPages=${#strings.setJoin(page.getTopNKeywords(5).keySet(), ' ')}">
        	<a th:href="@{/search(query=${query},similarPages=${similarPages},page=1)}"
               class="bold lower-bar similar-page">Get similar pages</a>
        </span>
    </div>

    <div class="num_bar">
        <hr>
        <table>
            <tr>
                <td th:each="i : ${#numbers.sequence(1,numResultPages)}">
                    <div th:switch="${i}" class="circle">
                        <p th:case="${pageNum}" th:text="${i}" class="page-num">1</p>
                        <p th:case="*"><a th:text="${i}"
                                          th:href="${similarPages == ''}
                        ? @{/search(query=${query},page=${i})}
                        : @{/search(query=${query},similarPages=${similarPages},page=${i})}"></a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
		window.onload = function onLoad() {
			if (typeof(EventSource) !== "undefined") {
				var source =  new EventSource("/wolframResult");
				source.onmessage = function(event) {
					document.getElementById("wolframElement").innerHTML = event.data;
					source.close();
				};
			}
			else {
				document.getElementById("wolframElement").innerHTML = "Not Supported";
			}
		}
        function showHideTop5() {
            var x = document.getElementsByClassName("topfive");
            for (i = 0; i < x.length; i++) {
              if (x[i].style.display === "none") {
                x[i].style.display = "block";}
              else {
                x[i].style.display = "none";
              }
            }
        }
        function showHideHis(){
            var x = document.getElementById("queryHistory");
            if (x.style.display === "none") {
            x.style.display = "block";}
            else {
            x.style.display = "none";
            }
        }
 </script>
</body>
</html>
