<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Findr</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link th:if="${isMorning}==true" rel="stylesheet" type="text/css" media="all" href="../static/css/search2.css"  th:href="@{/css/search2.css}"/>
    <link th:if="${isMorning}==false" rel="stylesheet" type="text/css" media="all" href="../static/css/search.css"  th:href="@{/css/search.css}"/>
	
	<script type="text/javascript">
		window.onload = function onLoad() {
			if (typeof(EventSource) !== "undefined") {
				var source =  new EventSource("/wolframResult");
				source.onmessage = function(event) {
					document.getElementById("wolframElement").innerHTML = event.data;
					source.close();
				};
			}
			else {
				document.getElementById("wolframElement").innerHTML = "Not Supported";
			}
		}
	</script>
</head>
<body>

<div id="logo_searchbar">
    <a href="/" class="hidden">
        <image th:if="${isMorning}==true" src="../static/images/logo_searchEngine2.png"
               th:attr="src=@{/images/logo_searchEngine2.png}" id="logo" alt="logo"/>
        <image th:if="${isMorning}==false" src="../static/images/logo_v2.png"
               th:attr="src=@{/images/logo_v2.png}" id="logo" alt="logo"/>
    </a>

    <div class="image_text">
        <!--image th:if="${isMorning}==true" src="../static/images/talk_bubble2.png"
               th:attr="src=@{/images/talk_bubble2.png}" alt="bubble" id="bubble"/-->
        <!--image th:if="${isMorning}==false" src="../static/images/talk_bubble.png"
               th:attr="src=@{/images/talk_bubble.png}" alt="bubble" id="bubble"/-->

        <!--<div class="centered">-->
        <!--<span th:text="'you searched for ' + ${query} + ', page ' + ${pageNum}">-->
        <!--you prev search for...-->
        <!--</span>-->
        <!--<br/>-->
        <!--<span th:text="'you previously searched for ' + ${prevQuery}">you search for...</span>-->
        <!--</div>-->
        <!--<div>-->
            <!--<p class="black">You previously searched for:</p>-->
            <!--<div th:each="historyItem : ${queryHistory}">-->
                <!--<p th:text="${historyItem}" class="black"></p>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <p class="black">You previously searched for:</p>
            <div th:each="historyItem : ${queryHistory}">
                <p><a th:text="${historyItem}" th:href="@{/search(query=${historyItem},page=1)}"></a></p>
            </div>
        </div>
    </div>

    <form th:action="@{/search}">
        <input required type="text" name="query" th:value="${query}" id="query">
        <input type="hidden" name="page" value="1">
        <input type="submit" value="Search">
    </form>
    <br/>
    <span th:text="${totalCrawledPages} + ' results (' + ${crawlTime} + ' seconds)'">Time elapsed</span>
</div>

<div class="content-body">
	<div id="wolframElement"></div>
	
    <div th:each="page : ${results}" class="results_para">
        <a th:text="${#strings.abbreviate(page.getTitle(),80)} " th:href="${page.getMyUrl()}"
           class="result-title">Title placeholder</a>
        <br>
        
        <span th:text="${#strings.abbreviate(page.getMyUrl(),100)}" class="result-link result-small">URL placeholder</span>
        <br>
        
        <span th:text="${page.getMetaDescription()}" class="result-small">Page description placeholder</span>
        <br>
        
        <span class="bold">Last modified: </span>
        <span th:text="${page.getLastModified()}">Last modified placeholder</span>
        <br>
        
        <span class="bold">Size: </span>
        <span th:text="${page.getSize()} + ' bytes'">Size placeholder</span>
        <br>
        
        <span class="bold">Score: </span>
        <span th:text="${page.getScore()}">Score placeholder</span>
        <br>
        
        <span class="bold">Keywords: </span>
        <span th:each="keywordFreqPair, index : ${page.getTopNKeywords(5)}">
            <span th:text="!${index.last} ?
            ${keywordFreqPair.getKey()} + ' ' + ${keywordFreqPair.getValue()} + ',' :
            ${keywordFreqPair.getKey()} + ' ' + ${keywordFreqPair.getValue()}"></span>
        </span>
        <br>
        
        <span class="bold">Parent links: </span>
       	<!-- span th:each="keywordFreqPair : ${page.getTopNKeywords(5)}">
           	<span th:text="${keywordFreqPair.getKey()} + ': ' + ${keywordFreqPair.getValue()} + ' | '"></span>
        	<br>
        </span-->
        <br>
        
        <span class="bold">Child links: </span>
       	<!-- span th:each="keywordFreqPair : ${page.getTopNKeywords(5)}">
           	<span th:text="${keywordFreqPair.getKey()} + ': ' + ${keywordFreqPair.getValue()} + ' | '"></span>
           	<br>
        </span-->
        <br>
        
        <span th:with="similarPages=${#strings.setJoin(page.getTopNKeywords(5).keySet(), ' ')}">
        	<a th:href="@{/search(query=${query},similarPages=${similarPages},page=1)}" class="bold lower-bar similar-page">Get similar pages</a>
        </span>
    </div>

    <div class="num_bar">
        <hr>
        <table>
            <tr>
                <td th:each="i: ${#numbers.sequence(1,numResultPages)}">
                    <div th:switch="${i}" class="circle">
                        <p th:case="${pageNum}" th:text="${i}" class="page-num">1</p>
                        <p th:case="*"><a th:text="${i}"
                        th:href="${similarPages == ''}
                        ? @{/search(query=${query},page=${i})}
                        : @{/search(query=${query},similarPages=${similarPages},page=${i})}"></a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
