body {
    background-color: white;
    width: 100%
    height: 100%;
    background-image: url(../images/bg_v2.png);
    background-repeat:no-repeat;
    background-position: left top;
    background-size: cover;
}

.main_searchBox {
  /* border: solid rgb(13, 230, 201);*/
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 20vh;
  padding: 0px;
}


#query{
  width: 80%;
  height: 5vh;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search_button{
  width: 18%;
  height:  5vh;
  font-size: 1.2vw;
}

#logo{
  display: inline-block;
  width: 100%;
}

.v-center {
    margin-top: 33vh;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.vdoffset3 {margin-bottom: 15px; }


.result-title{
    font-size: 18px;
}

.result-page-num{
    font-size: larger;
}

.result-link{
    color: #1c7430;
}

.result-small{
    font-size: smaller;
}

body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.light-gray{
    color: #707070;
}

.page-num {
    padding-right: 1em;
}
